.inventoryHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1.5rem;
    padding-inline: 1rem;
    background-color: white;
    border-bottom: 1px solid #dedede;
}

.headerContent h1 {
    margin: 0;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
}

.headerContent p {
    margin: 0.35rem 0 0;
    line-height: 1.5;
    font-size: 0.875rem;
    color: #737373;
}

.primaryButton {
    display: inline-flex;
    align-items: center;
    gap: .4rem;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: #625cff;
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding-block: 0.4rem;
    padding-inline: 1rem;
    border: none;
}

@media (min-width: 48rem) {
    .inventoryHeader {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-block: 2rem;
        padding-inline: 2rem;
    }

    .primaryButton {
        align-self: auto;
    }
}